{{!< default}}

{{> header}}
	
<section class="photos">
	{{#foreach posts}}

	<article class="{{post_class}}">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="photo-thumbnail">
                    <div class="photo-content-temp">{{content}}</div>
                    <div class="photo-thumbnail-loading-progress">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="six columns">
                    <a href="{{url}}">
                        <h2 class="post-title">{{title}}</h2>
                    </a>
                    <p>
                        {{excerpt}}
                    </p>	
                </div>
            </div>
        </div>		
	</article>
	
	{{/foreach}}		
</section>

{{pagination}}

{{> footer}}